In [1]:
# empty dictionary
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [3]:
student={"name":"nagoor","age":10,"grade":"B"}

In [5]:
student["grade"]
student["age"]

10

In [9]:
print(student.get('grade'))
print(student.get('name'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))

B
nagoor
None
Not Available

In [10]:
#Modifying dictionary elements, it is mutable,add,update and delete elements
student['name']='Nagoor Basha'

print(student)

{'name': 'Nagoor Basha', 'age': 10, 'grade': 'B'}

In [12]:
student['address']='Ramanaya peta'
print(student)

{'name': 'Nagoor Basha', 'age': 10, 'grade': 'B', 'address': 'Ramanaya peta'}

In [13]:
del student['grade']

In [14]:
print(student)

{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}

In [17]:
#methods
keys=student.keys()
values=student.values()
print(keys)
print(values)

dict_keys(['name', 'age', 'address'])
dict_values(['Nagoor Basha', 10, 'Ramanaya peta'])

In [18]:
student.items()

dict_items([('name', 'Nagoor Basha'), ('age', 10), ('address', 'Ramanaya peta')])

In [19]:
#shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}
{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}

In [20]:
student['name']="Nadeem"
print(student)
print(student_copy)

{'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'}
{'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'}

In [26]:
student_copy1=student.copy()
print(student)
print(student_copy1)

{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}
{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}

In [27]:
student['name']='Nadeem'
print(student)
print(student_copy1)

{'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'}
{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}

In [28]:
student

{'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'}

In [29]:
for key in student.keys():
    print(key)

name
age
address

In [30]:
for value in student.values():
    print(value)

Nadeem
10
Ramanaya peta

In [31]:
for key,value in student.items():
    print(f"{key}:{value}")

name:Nadeem
age:10
address:Ramanaya peta

In [32]:
students={
    'student1':{'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'},
    'student2':{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}
}

In [33]:
print(students)

{'student1': {'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'}, 'student2': {'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}}

In [34]:
for key,studentinfo in students.items():
    print(f"{key}:{studentinfo}")
    for key,value in studentinfo.items():
        print(f"{key}:{value}")

student1:{'name': 'Nadeem', 'age': 10, 'address': 'Ramanaya peta'}
name:Nadeem
age:10
address:Ramanaya peta
student2:{'name': 'Nagoor Basha', 'age': 10, 'address': 'Ramanaya peta'}
name:Nagoor Basha
age:10
address:Ramanaya peta

In [35]:
#Comprehension
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [36]:
{i:i**2 for i in range(10) if i%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [42]:
lst=[1,2,2,3,3,3,4,4,4,4,5,5,6]
freq={}

for i in lst:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1

print(freq)

[i:i.count() for i in set(lst)]

SyntaxError: invalid syntax (3870085367.py, line 12)

In [40]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":3}
merged={**dict1,**dict2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 3}